.side-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-right: 5px; /* para dar uma separada do scroll (e caso n esteja com o scroll, 5px ainda eh imperceptivel) */
}

.side-panel__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.side-panel__info-div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.panel-spacer{
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.side-panel__container:nth-child(3){
    gap: 25px;
}

.side-panel__forecast-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: auto;
}