.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px !important;
}

.search-bar svg:nth-child(1):hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px white);
}

.search-bar textarea{
    flex-grow: 1;
    resize: none;
    font-size: 1.25em;
    font-family: "Thasadith", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.search-bar textarea::placeholder{
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}

.search-bar textarea:focus{
    outline: none;
    color: white;
}

.loading-icon{
    animation-name: loading-animation;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading-animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}