@import url(index.css);

.app{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    height: calc(100vh - 80px);
    color: white;
    --blackness-background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom, var(--blackness-background), var(--blackness-background)), url(assets/images/default-bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 1px 1px 3px black;
}

.app > div{
    flex-basis: 40vw;
    flex-grow: 1;
}

.glass-panel{
    --border-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.5);
}

.a-credits{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: 0.8em;
    opacity: 20%;
    text-decoration: underline;
}

@media (max-width: 750px) {
    .app{
        height: auto;
        flex-direction: column;
        padding: 30px 20px;
        gap: 40px;
    }

    .app.alt{
        background-position: left center;
    }
}