@import url(index.css);

.app{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    height: calc(100vh - 80px);
    color: white;
    --blackness-background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom, var(--blackness-background), var(--blackness-background)), url(assets/images/raining.jpg);
    background-size: cover;
    background-position: center;
}

.app > div{
    flex-basis: 40vw;
    flex-grow: 1;
}

.glass-panel{
    --border-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.5);
}