@import url(index.css);

.app{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    height: calc(100vh - 80px);
    color: white;
    --blackness-background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom, var(--blackness-background), var(--blackness-background)), url(assets/images/raining.jpg);
    background-size: cover;
    background-position: center;
}

.app > div{
    flex-grow: 1;
}