.forecast-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: fit-content;
}

.forecast-card div{
    display: flex;
    align-items: center;
}

.forecast-card__day{
    padding-bottom: 5px;
    align-self: center;
    font-weight: bold;
}

.forecast-card__description{
    align-self: center;
    max-width: 80%;
    text-align: center;
    font-family: "Thasadith", "Comfortaa", sans-serif;
}